<!DOCTYPE html>
<html>
	<head>
		<title>Search</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue_grey-pink.min.css" />
		<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200' rel='stylesheet' type='text/css'>
	</head>
	<style>
		h1 {
			font-family: 'Source Sans Pro', serif;
			font-weight: 200;
		}
		.bodyStyle {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background: #FFFFFF;
			font-family: 'Source Sans Pro', sans-serif;
		}
		.inputStyle {
			font-family: 'Source Sans Pro', sans-serif;
		}
	</style>

	<body class="bodyStyle">
		<h1> Brief me on...</h1>
		<form action="#">
  			<div class="mdl-textfield mdl-js-textfield">
    		<input class="mdl-textfield__input inputStyle" type="text" id="sample1">
    		<label class="mdl-textfield__label" for="sample1"></label>
  			</div>
		</form>
	</body>
</html>